<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>RooneySansRegular</string>
		<string>RooneySansMediumIt</string>
		<string>RooneySansMedium</string>
		<string>RooneySansLightIt</string>
		<string>RooneySansLight</string>
		<string>RooneySansItalic</string>
		<string>RooneySansHvIt</string>
		<string>RooneySansHv</string>
		<string>RooneySansBoldIt</string>
		<string>RooneySansBold</string>
		<string>RooneySansBlkIt</string>
		<string>RooneySansBlk</string>
	</array>
</dict>
</plist>
